#colors {
  background-color: rgba(13, 27, 53, .65);
  color: rgba(235 220 79 / 86%);

  color: rgb(110, 33, 66);
  color: rgb(148, 56, 85);
  color: rgb(225, 99, 99);
  color: rgb(255, 214, 146);
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

#bgWrap {
  height: 100vh;
  width: 100vw;
  background: url("./images/bgImg.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0px;
  z-index: -2;
}

header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  min-height: 1em;
  background-color: rgb(225, 99, 99);
  color: rgb(110, 33, 66);
  padding: 1em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
}

#siteTitleContainer {
  display: flex;
  height: 5em;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 0;
  background-color: rgb(255, 214, 146);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#siteTitle {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: .25em .5em;
  font-size: 4em;
  font-weight: 800;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 1em;
  background-color: rgb(110, 33, 66);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#movieCardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  gap: 2em;
}

.movieCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(255, 214, 146);
  align-self: center;
  height: 60vh;
  min-width: 300px;
  overflow: auto;
  margin: auto;
  padding: .3em;
  border-radius: 20px;
}

.cardOptionsContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgb(148, 56, 85);
  color: rgba(255, 255, 255, .9);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

label input {
  margin-right: .3em;
}

.movieInfoContainer {
  display: flex;
  justify-content: space-between;
}

.rank {
  padding: .5em;
  font-size: 1.5em;
  margin: auto;
  background-color: rgba(255, 255, 255, .9);
  border: solid black;
}

.titleYearContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.title {
  font-size: 1.5em;
  padding: .5em;
  margin: auto;
  background-color: rgba(255, 255, 255, .9);
}

.year {
  margin: auto;
  padding: 1em 0 1em 1em;
}

.moviePosterContainer {
  justify-content: center;
  margin: auto;
  max-width: 100%;
}

.posterImg {
  max-height: 300px;
  max-width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.synopsis {
  margin-top: 1em;
  overflow: auto;
  padding: 1em;
  background-color: rgba(255, 255, 255, .9);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Custom scrollbars for text sections */
/* Custom scrollbar for Firefox */
.synopsis {
  overflow-y: auto;
  scrollbar-color: rgb(148, 56, 85) rgba(255, 255, 255, 1);
  scrollbar-width: thin;
}

/* Custom scrollbar for all other browsers */
.synopsis::-webkit-scrollbar {
  width: .7em;
}

.synopsis::-webkit-scrollbar-thumb {
  height: .5em;
  background: rgb(148, 56, 85);
}

.synopsis::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 600px) {

  #movieCardsContainer {
    flex-direction: row;
  }

  .movieCard {
    max-width: 20%;
    margin: 0;
  }
}