html {
  --color1: rgb(254, 255, 172);
  --color2: rgb(225, 99, 99);
  --color3: rgb(148, 56, 85);
  --color4: rgb(110, 33, 66);
}

* {
  box-sizing: border-box;
  margin: 0;
}

#bgWrap {
  height: 100vh;
  width: 100vw;
  background: url("./images/bgImg.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0px;
  z-index: -2;
}

header {
  font-family: 'Limelight', cursive;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  background-color: rgb(255, 170, 32);
  color: var(--color4);
  padding: .5em;
  margin-bottom: .5em;
  position: sticky;
  top: 0;
}

#siteTitleContainer {
  font-family: 'Limelight', cursive;
  display: flex;
  height: 4em;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 0;
  background-color: var(--color1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#siteTitle {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: .25em .5em;
  font-size: 3em;
  font-weight: 800;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  background-color: var(--color4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navButton {
  font-family: 'Limelight', cursive;
  align-items: center;
  background-color: var(--color3);
  border: 0;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: .75em;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.navButton:hover {
  background-color: rgb(255, 170, 32);
  color: #ffffff;
}

.navButton:active {
  background: var(--color4);
  color: rgb(255, 255, 255, .7);
}

#movieCardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  gap: 2em;
}

#listViewContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.movieCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(255, 170, 32);
  align-self: center;
  height: 65vh;
  min-width: 300px;
  overflow: auto;
  margin: auto;
  padding: .3em;
  border-radius: 20px;
}

.movieCard.listContainer {
  justify-content: space-between;
  height: unset;
  max-width: unset;
  width: 90%;
}

.cardOptionsContainer {
  font-family: 'Limelight', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  background-color: var(--color3);
  color: rgba(255, 255, 255, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cardOptionsContainer.listContainer {
  justify-content: space-around;
}

.deleteButton {
  font-family: 'Limelight', cursive;
  align-items: center;
  background-color: var(--color4);
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: .65em;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgb(255, 170, 32);
  color: #ffffff;
}

.deleteButton:active {
  background: var(--color4);
  color: rgb(255, 255, 255, .7);
}

label input {
  margin-right: .4em;
}

.checkLabel {
  font-size: .9em;
}

.movieInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: .25em;
  background-color: rgba(255, 255, 255, 1);
}

.movieInfoContainer.listContainer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rank {
  font-family: 'Alfa Slab One', cursive;
  padding: .5em;
  font-size: 1em;
  font-weight: 600;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  border: solid rgb(110, 33, 66);
  border-radius: 10px;
}

.titleYearContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.25em;
  text-align: center;
  margin: auto;
  padding: 0 .5em;
  background-color: rgba(255, 255, 255, 1);
}

.title.listContainer {
  margin: auto 0px;
}

.year {
  font-family: 'Limelight', cursive;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-right: .25em;
  font-size: 1em;
}

.moviePosterContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: .5em;
  background-color: rgba(254, 255, 172, .75);
}

.moviePosterContainer.listContainer {
  display: none;
}

.posterImg {
  align-self: center;
  max-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.synopsis {
  font-family: 'Faustina', serif;
  display: flex;
  text-align: center;
  padding: 1em;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
}

.synopsis.listContainer {
  display: none;
}

/* Custom scrollbars for text sections */
/* Custom scrollbar for Firefox */
.synopsis {
  overflow-y: auto;
  scrollbar-color: rgb(148, 56, 85) rgba(255, 255, 255, 1);
  scrollbar-width: thin;
}

/* Custom scrollbar for all other browsers */
.synopsis::-webkit-scrollbar {
  width: .7em;
}

.synopsis::-webkit-scrollbar-thumb {
  height: .5em;
  background: rgb(148, 56, 85);
}

.synopsis::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 600px) {

  #movieCardsContainer {
    flex-direction: row;
  }

  .movieCard {
    height: 50vh;
    max-width: 20%;
  }

  .movieCard.listContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: unset;
    width: 80%;
  }

  .cardOptionsContainer.listContainer {
    justify-content: space-around;
    border-top-left-radius: unset;
    width: 100%;
    border-bottom-right-radius: 20px;
  }

  .movieInfoContainer.listContainer {
    border-bottom-right-radius: unset;
    border-top-left-radius: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {

  #siteTitleContainer {
    height: 5em;
  }

  #siteTitle {
    font-size: 4em;
  }

  nav {
    padding: 1em;
  }

  .navButton {
    font-size: 1.5em;
  }

  .movieCard {
    height: 45vh;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) {

  .movieCard {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "movieInfo movieInfo cardOptions cardOptions"
      "posterImg synopsis synopsis synopsis";
    max-width: unset;
    margin: 0;
  }

  .movieInfoContainer {
    grid-area: movieInfo;
    border-top-left-radius: 20px;
  }

  .cardOptionsContainer {
    grid-area: cardOptions;
    border-top-left-radius: unset;
  }

  .moviePosterContainer {
    grid-area: posterImg;
    border-bottom-left-radius: 20px;
  }

  .posterImg {
    max-height: 100px;
  }

  .synopsis {
    grid-area: synopsis;
    border-bottom-left-radius: unset;
  }
}

@media screen and (min-width: 720px) and (min-height: 600px) {
  .movieCard {
    display: flex;
    flex-direction: column;
    max-width: 20%;
  }

  .movieInfoContainer {
    border-top-left-radius: unset;
  }

  .cardOptionsContainer {
    border-top-left-radius: 20px;
  }

  .moviePosterContainer {
    border-bottom-left-radius: unset;
  }

  .posterImg {
    max-height: 200px;
  }

  .synopsis {
    border-bottom-left-radius: 20px;
  }
}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  .movieCard {
    height: 33vh;
  }
}

@media screen and (min-width: 1020px) {
  #siteTitleContainer {
    height: 5em;
  }

  #siteTitle {
    font-size: 4em;
  }

  nav {
    padding: 1em;
  }

  .navButton {
    font-size: 1.5em;
  }

  .movieCard.listContainer {
    width: 60%;
  }

  .title.listContainer {
    margin: auto;
  }

  .movieInfoContainer.listContainer {
    padding: 0 3%;
  }

  .movieCard {
    display: flex;
    flex-direction: column;
    max-width: 20%;
  }

  .movieInfoContainer {
    border-top-left-radius: unset;
  }

  .cardOptionsContainer {
    border-top-left-radius: 20px;
  }

  .moviePosterContainer {
    border-bottom-left-radius: unset;
  }

  .posterImg {
    max-height: 200px;
  }

  .synopsis {
    border-bottom-left-radius: 20px;
  }
}

@media screen and (min-width: 1920px) {
  #siteTitle {
    font-size: 6vh;
  }

  .navButton {
    font-size: 2.5vh;
  }

  .deleteButton {
    font-size: 1.25vh;
  }

  .checkLabel {
    font-size: 1.3vh;
  }

  .rank {
    font-size: 1.6vh;
  }

  .title {
    font-size: 1.8vh;
  }

  .year {
    font-size: 1.6vh;
  }
}