* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

#bgWrap {
  height: 100vh;
  width: 100vw;
  background: url("./images/bgImg.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  min-height: 1em;
  background-color: rgba(13, 27, 53, .5);
  color: #caf0f8ff;
  padding: 1em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
}

#pageTitleContainer {
  height: 10vh;
}

#pageTitle {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 1em;
}

#movieCardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  gap: 2em;
}

.movieCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(202, 240, 248, .7);
  align-self: center;
  height: 60vh;
  min-width: 400px;
  overflow: auto;
  margin: 0 10%;
  padding: .3em;
  border-radius: 20px;
  border-bottom: 3px solid black;
}

.cardOptionsContainer {
  display: flex;
}

.rankTitleYearContainer {
  display: flex;
}

.moviePosterContainer {
  justify-content: center;
  margin: auto;
  max-width: 100%;

}

.posterImg {
  max-height: 300px;
  max-width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  transition: font-size 300ms;
}

#pageTitle {
  text-align: center;
}

@media screen and (min-width: 600px) {

  #movieCardsContainer {
    flex-direction: row;
  }

  .movieCard {
    max-width: 20%;
    margin: 0;
  }
}